<!-- main/templates/main/auth/password_change.html -->
{% extends 'main/base.html' %}
{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">Құпия сөзді өзгерту</h2>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">Өзгерту</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}